<div class="row col-sm-6" style="max-width: 350px">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">From account</label>
      <input type="number" class="form-control" name="account_id1" [(ngModel)]="form.account_id1" #account_id1="ngModel"
          min="0" required/>
    </div>
    <div class="validation"
    *ngIf="account_id1.invalid && (account_id1.dirty || account_id1.touched)">
      Invalid id
    </div>

    <div class="form-group">
      <label for="amount">To account</label>
      <input type="number" class="form-control" name="account_id2" [(ngModel)]="form.account_id2" #account_id2="ngModel"
          min="0"  required />
    </div>
    <div class="validation"
    *ngIf="account_id2.invalid && (account_id2.dirty || account_id2.touched)">
      Invalid id
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" name="amount" [(ngModel)]="form.amount" #amount="ngModel"
             required min="0"/>
    </div>
    <div class="validation"
    *ngIf="amount.invalid && (amount.dirty || amount.touched)">
      Invalid amount
    </div>
    
    <div class="form-group">
      <button class="btn btn-primary">create</button>
    </div>
  </form>
</div>