<mat-toolbar><a mat-button routerLink="/add-transaction" color="#f0fff0">add transaction</a></mat-toolbar>

<div class="transactions">
    <div class="transaction" *ngFor="let transaction of transactions">
        <div class="id">transaction id: {{ transaction.id }}</div>
        <div class="account_id1">from acc_id: {{ transaction.account_id1 }}</div>
        <div class="account_id2">to acc_id: {{ transaction.account_id2 }}</div>
        <div class="amount">amount: {{ transaction.amount }} $</div>
        <button (click)="deleteTransaction(transaction.id)" class="btn btn-danger">Delete</button>
    </div>
</div>

