<button type="button" class="btn btn-primary" routerLink="/add-account">Add account</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <th>{{ account.id }}</th>
        <td>{{ account.name }}</td>
        <td>{{ account.amount }} $</td>
        <td>
            <div class="d-flex justify-content-start">
                <button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateAccount(account.id)" class="btn btn-primary">Update</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>