<mat-toolbar><a mat-button routerLink="/add-account" color="#f0fff0">add account</a></mat-toolbar>



<div class="accounts">
    <div class="account" *ngFor="let account of accounts">
        <div class="id">id: {{ account.id }}</div>
        <div class="name">name: {{ account.name }}</div>
        <div class="amount">amount: {{ account.amount }} $</div>
        <button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
        <button (click)="updateAccount(account.id)" class="btn btn-danger">Update</button>
    </div>
</div>

<router-outlet></router-outlet>
